*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header{
    background-color: #363636;
    overflow: hidden;
}

.logo{
    float: left;
}

.logo > img{
    width: auto;
    height: 120px;
    vertical-align: middle;
}

.nav{
    float: left;
    width:50%;    
}

.nav > ul{
    height: 120px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
}

.nav a:hover{
    background-color: brown;
    border-radius: 10px;
}

.nav a:active{
    background-color: rgb(172, 172, 231);
}

.home-img{
    overflow: hidden;
    min-height: calc(95vh - 120px);
    background-image: url('./img/tep-aueb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-position: center;
}

.home-title{
    width: 50%;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}

.home-subtitle{
    width: 45%;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    text-align: center;
}

.main{
    display: flex;
    min-height: 200px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.gap-bottom{
    margin-bottom: 25px;
}

.footer{
    display: flex;
    height: 120px;
    background-color: #363636;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 10px;
}

.social-text{
    vertical-align: middle;
    color: blue;
    font-size: 1.5rem;
}

.social > span{
    vertical-align: middle;
    margin-right: 5px;
}